@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #151b23;
}
#f2f2f2
#858587
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */


html {
  scroll-snap-type: y mandatory;
}


.pers{
  perspective: 500px;
}

.h2p{
  left: calc(50% - 130px);
}